apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "address": "y0ur-4ddr355",
      "skip_tls_verify": true
    }